* {
    margin: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    margin-top: 100px;
    background-color: rgb(26, 30, 32);    
    display: grid;
    justify-content: center;
    grid-template-columns: 50vh;
    grid-template-rows: 60px 1fr 40px;
    grid-template-areas: 
        'header'
        'content'
        'footer';

        
}

.header {
    display: flex;    
    
    justify-content: flex-end;    

    /* padding: 10px; */

    background: rgb(54, 55, 75);
    border-radius: 10px 10px 0px 0px;
    border-bottom: solid 3px rgb(32, 33, 44); ;
    grid-area: header;
}

.btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-left: solid 2px rgb(32, 33, 44);

    
    

    padding: 15px 0px 15px 15px;
}

.btnRoll {    

    
    margin-right: 15px;
    padding: 7px;
    height: 23px; 
    
    background: rgb(240, 88, 113);

    cursor: pointer;

    border-radius: 5px;

    font-size: 1em;
    font-weight: 700;
    color: rgb(55, 47, 58);

    transition: 0.3s;
}

.btnRoll:hover{
    background: rgb(158, 60, 76);
}

.addAndRemove {    
    /* align-self: center; */

    /* margin: 5px 10px; */
    padding: 7px;
    height: 23px;
    margin-right: 10px;

    background: rgb(240, 88, 113);
    

    border-radius: 5px;

    font-size: 1em;
    font-weight: 700;
    color: rgb(55, 47, 58);
    cursor: pointer;

    transition: 0.3s;


}

.addAndRemove:hover{
    background: rgb(158, 60, 76);
}

.content {
    grid-area: content;

    display: flex;    
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap; 

    padding: 0px 0px;

    background: rgb(77, 78, 102);  
}


.contentDices {
    display: flex;
    flex-direction: column;
    justify-content: center;       
    
}



.contentApp {    
    display: flex;     
    margin: 15px 0px;   
}



.diceImg {
    background: rgb(219, 110, 132);
    width: 20px;
    height: 20px;  
}

.dices {
    border: none;
    outline: none;

    margin: 0px 10px;
    border-radius: 5px;

    background: rgb(54, 55, 75);
    color: cornsilk;
}

.quantity {
    width: 50px;
    border-radius: 5px;
    margin: 0px 0px;

    border: none;
    outline: none;

    background: rgb(54, 55, 75);
    color: cornsilk;
    
}



.resultDiv {
    background: rgb(41, 42, 54);
    display: block;    
    justify-content: center; 
    align-items: center;
    text-align: center;
    

    height: 50%;
    width:  90%;
    padding: 10px 0;

    border-radius: 10px 10px 0px 0px; 

    

   
}

.resultContent {
    color: rgb(32, 33, 44);
    font-size: 1rem;
    font-weight: 700;
    margin: 0px 10px;

    color: rgb(219, 110, 132);
    
}

.rolls{
    color: rgb(32, 33, 44);
    font-size: 1rem;
    font-weight: 300;
    margin: 10px 10px ;
    color: blanchedalmond;
}

.rolls span{
    color: rgb(133, 140, 212);
    font-weight: 500;

}

.resultTotal {
    color: rgb(32, 33, 44);
    font-size: 1rem;
    font-weight: 700;    
    color: rgb(219, 110, 132);
    padding: 10px 0px 0px 0px;
    border-top: solid 3px rgb(32, 33, 44);
}



.resultValue{    
    font-size: 1rem;
    font-weight: 400;
    margin: 0px 10px 0pc 10px;
    color: blanchedalmond;
    
}

.footer {    
    grid-area: footer;

    background: rgb(54, 55, 75);
    border-radius: 0px 0px 10px 10px;
    border-bottom: solid 3px rgb(32, 33, 44);
    border-top: solid 3px rgb(32, 33, 44);

    font-size: 13px;
    text-align: right;
    color: rgb(200, 133, 255);
    padding: 8px;
    
}

.footer a {

    text-decoration: none;
    color: rgb(240, 88, 113);
}



@media (max-width: 980px) {
  


    body {
        font-family: 'Ubuntu', sans-serif;
        margin-top: 100px;
        background-color: rgb(26, 30, 32);    
        display: grid;
        justify-content: center;
        grid-template-columns: 50vh;
        grid-template-rows: 60px 1fr 40px;
        grid-template-areas: 
            'header'
            'content'
            'footer';    
            
    }




    .btns {

        padding: 15px 0px 15px 50px;
    }

    .btnRoll {   
        margin-right: 15px;
        padding: 10px 20px;
        height: 55px; 
         

        font-size: 2.5em;
        font-weight: 700;
    }


    
    .addAndRemove {    
     
       
        /* margin: 5px 10px; */
        padding: 10px 20px;
        height: 55px;
        
        margin-right: 10px;

        
    
        background: rgb(240, 88, 113);
        
        
    
        border-radius: 5px;
    
        font-size: 3em;
        font-weight: 700;
        color: rgb(55, 47, 58);
        cursor: pointer;
    
        transition: 0.3s;
    
    
    }

    .content {
        grid-area: content;    
        display: flex;    
        align-content: center;
        justify-content: space-around;
        flex-wrap: wrap; 
        
    
        padding: 0px 0px;
    
        background: rgb(77, 78, 102);  
    }

    .contentDices {
        display: flex;
        flex-direction: column;
        justify-content: center;
        

        margin: 20px 10px;       
        
    }

    .diceImg {
        background: rgb(219, 110, 132);
        width: 50px;
        height: 50px;  
        margin-right: 30px;
    }

    .dices {
        border: none;
        outline: none;

        font-size: 2em;
    
        margin-right: 50px;
        border-radius: 5px;
    
        background: rgb(54, 55, 75);
        color: cornsilk;
    }

    .quantity {
        width: 70px;
        border-radius: 5px;
        margin: 0px 0px;
    
        font-size: 2em;

        border: none;
        outline: none;
    
        background: rgb(54, 55, 75);
        color: cornsilk;
        
    }

    .resultContent {        
        font-size: 2.5rem;   
    }

    .rolls{
        color: rgb(32, 33, 44);
        font-size: 2.3rem;
        font-weight: 300;        
        color: blanchedalmond;
    }
    
    .rolls span{
        color: rgb(133, 140, 212);
        font-weight: 500;    
    }
    
    .resultTotal {
        color: rgb(32, 33, 44);
        font-size: 2.5rem;
        font-weight: 700;    
        color: rgb(219, 110, 132);

    }
    
    
    
    .resultValue{    
        font-size: 2.3rem;
        font-weight: 400;
        margin: 0px 10px 0pc 10px;
        color: blanchedalmond;        
    }

    .footer {    
        grid-area: footer;

        align-self: center;
    
        background: rgb(54, 55, 75);
        border-radius: 0px 0px 10px 10px;
        border-bottom: solid 3px rgb(32, 33, 44);
        border-top: solid 3px rgb(32, 33, 44);
    
        font-size: 1.7rem;
        text-align: right;
        color: rgb(200, 133, 255);
        padding: 20px;
        
    }
    
    .footer a {
    
        text-decoration: none;
        color: rgb(240, 88, 113);
    }


}

